@charset 'utf-8'; 

/* 태그초기화 */
body, section, div, a, h1{margin:0;padding:0;border:none;text-decoration:none;}
h1, p, a{font-family: "맑은 고딕", "Malgun Gothic", "돋움", "dotum", "Helvetica", "Apple SD Gothic Neo", "sans-serif";}
.clear:after{content:"";display:block;clear:both}

body{
    background:#ecf0f5
}
section#content{
    margin:35px auto 0
}
section article {
    background:black;
    
    float:left;
    position:relative;
    width:370px;
    height:370px;
    margin:0 35px 35px 0;
}

section article h1, i, p{
    position:absolute; 
    color:white;
}

h1, p{
    width:100%;
    text-align:center;
}

section article a h1.title {
    top:57px;
    font-size:32px;
    font-weight: 600;
    line-height:1.3;
}
section article a i {
    top:155px;
    left:50%;
    font-size:50px;
    margin-left:-25px;
}
section article a p.desc{
    bottom:78px;
    font-size:15px;
}

/* All Device */ /* 모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨.*/


/* Mobile Device */
section{
    width:370px;
}

/* Tablet & Desktop Device */ 
@media all and (min-width:768px) { /* 사용자 해상도가 768px 이상일 때 이 코드가 실행됨.
}

/* Tablet Device */ 
@media all and (min-width:768px) and (max-width:1024px) {
    section { 
        width:775px;
    }
 }


/* Desktop Device */
@media all and (min-width:1025px) {
    section {
        width:1180px;
    }
}
